@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
     
}
body {
    text-align: center;
    justify-content: center;
    background-color: #f0f0f0;
}
.men a{
    color: black;
    text-decoration: none;
    margin: 20px;
    cursor: pointer;
    font-size: 13px;
}
.lezu{
    font-size: 30px;
}

.boxes-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px; 
    /* max-width: 100%;  */
}

.box {
    width: 150px; 
    /* text-align: center;  */
     border-radius: 8px; 
    padding: 10px; 
}

.box-img {
    width: 100%; 
    height: auto; 
    object-fit: contain;
    border-radius: 4px; 
}

.box-text {
    margin-top: 10px; 
    font-size: 14px; 
    color: #333; 
}
.world{
    padding: 20px;
    font-size: 19px;
}






